{% load static %}
<div class="blocks_img">
    <div class="blok_img_main">
        <img class="watch_hand" src="{% static 'store/./images/hand-watch.png' %}" alt="">
        <div class="link_img">
            <a href="" class="product_heart">
                <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                            stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            <a href=""><img src="{% static 'store/images/icons/cart.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="blok_img_column">
        <div class="blok_first_img">
            <img src="{% static 'store/images/bracel.png' %}" alt="">
            <div class="link_img">
                <a href="" class="product_heart">
                    <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="" class="cage"><img src="{% static 'store/images/icons/cart.svg' %}" alt=""></a>
            </div>
        </div>
        <div class="blok_first_img">
            <img src="{% static 'store/images/serga.png' %}" alt="">
            <div class="link_img">
                <a href="" class="product_heart">
                    <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href=""><img src="{% static 'store/images/icons/cart.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>