{% load static %}
<section class="brand_info ">
    <div class="brand_info-block d-flex flex-column justify-content-center">
        <h3 class="brand_info-title">Колекция весна - осень</h3>
        <p class="brand_info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non rutrum ornare ut mattis
            habitant dui arcu. Sagittis amet nunc ut neque quis nibh arcu. Vivamus vestibulum nisi et venenatis sed
            scelerisque magna consectetur. Amet convallis quis gravida facilisis vulputate. Faucibus facilisi habitasse
            ipsum interdum dictum aliquet. Velit quis ullamcorper pulvinar nulla malesuada integer. Aenean praesent
            viverra nulla nullam natoque volutpat curabitur auctor. Viverra viverra ullamcorper scelerisque risus
            dignissim egestas. Id aliquam a aliquam egestas leo orci pharetra sed diam. </p>
    </div>
    <div class="brand_info-img">
        <img src="{% static 'store/images/footer_bg.png' %}" alt="">
    </div>
</section>