{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block poster %}

{% endblock poster %}


{% block main %}

<main>
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="box-element">

                    <a href="{% url 'cart' %}" class="btn btn-primary rounded">Вернутся в корзину</a>
                    <hr>
                    <h3>Заказанные товары</h3>
                    <hr>
                    <div class="cart-row">
                        <div style="flex:2"><strong>Товар</strong></div>
                        <div style="flex:1"><strong>Цена</strong></div>
                        <div style="flex:1"><strong>Количество</strong></div>
                        <div style="flex:1"><strong>Итого</strong></div>
                    </div>
                    {% for item in items %}
                    {% include 'store/components/_cart_row.html' %}
                    {% endfor %}

                    <h5>Количество товаров: <strong>{{ order.get_cart_total_quantity }}</strong></h5>
                    <h5>Стоимость заказа: <strong>{{ order.get_cart_total_price }}</strong></h5>
                </div>
            </div>

            <div class="col-lg-6">
                    <div class="box-element">
                        <form action="{% url 'payment' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="user-info">
                                <hr>
                                <p>Ваши данные</p>
                                <hr>
                                {% if not request.user.first_name and not request.user.last_name %}
                                <div class="form-field">
                                    {{ customer_form.first_name }}
                                </div>
                                <div class="form-field">
                                    {{ customer_form.last_name }}
                                </div>
                                {% else %}

                                <div class="form-field">
                                    Ваше имя: <strong>{{ request.user.first_name }}</strong>
                                </div>

                                <div class="form-field">
                                    Ваше фамилия: <strong>{{ request.user.last_name }}</strong>
                                </div>

                                <div class="form-field">
                                    Ваш логин: <strong>{{ request.user.username }}</strong>
                                </div>

                                <div class="form-field">
                                    Ваша почта: <strong>{{ request.user.email }}</strong>
                                </div>
                                {% endif %}
                            </div>

                            <div class="shipping-info">
                                <hr>
                                <p>Адрес доставки</p>
                                <hr>
                                {% for field in shipping_form %}
                                    <div class="form-field">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            </div>

                            <button type="submit" class="btn btn-success rounded">Заказать</button>

                        </form>
                    </div>

            </div>

        </div>
    </div>
</main>

{% endblock main %}