{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block poster %}

{% endblock  %}


{% block main %}
<main>
    <div class="container d-flex justify-content-around">

        <div class="login">
            <h2 class="form-title">Вход в Аккаунт</h2>
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="from-group">
                    {{ login_form.username }}
                </div>
                <div class="from-group">
                    {{ login_form.password }}
                </div>
                <button class="btn btn-dark rounded" type="submit">Войти</button>
            </form>
        </div>


        <div class="registration">
            <h2 class="form-title">Создать Аккаунт</h2>
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="from-group">
                    {{ register_form.username }}
                </div>

                <div class="from-group">
                    {{ register_form.first_name }}
                </div>

                <div class="from-group">
                    {{ register_form.last_name }}
                </div>

                <div class="from-group">
                    {{ register_form.email }}
                </div>


                <div class="from-group">
                    {{ register_form.password1 }}
                </div>
                <div class="from-group">
                    {{ register_form.password2 }}
                </div>


            <button class="btn btn-dark rounded" type="submit">Создать</button>
            </form>
        </div>
    </div>
</main>




{% endblock %}













