<div class="poster">
            <div class="container title_content">
                <div class="row justify-content-center block_text">
                    <div class="col-12 text-content">
                        <h1 class="header_title">Механические наручные
                            часы Bulova 97A136</h1>
                        <p class="header_sub-title">Все часы Bulova изготавливаются из
                            лучших материалов, от прочной нержавеющей
                            стали для корпусов и браслетов до высококачественной зернистой кожи для ремешков.</p>

                    </div>
                </div>
            </div>
        </div>